.chessboard {
  float: left;
  width: 600px;
  padding-left: 20px;
  padding-right: 30px;
}

.chat-container {
  float: right;
  background:#ddd;
  height:590px;
  width:625px;
  overflow-y: scroll;
}

#message {
  float:right;
  width: 500px;
}

.sendButton {
  background-color: #fdd;
  float:right;
}
