.chessboard {
  float: left;
  width: 600px;
  padding-left: 10px;
  padding-right: 30px;
}

.your-game {
  font-size: 16px;
  margin: 3px 0px 3px 10px;
  font-family: 'Lobster', cursive;
}

.game-status {
  margin: 0px 0px 3px 10px;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

body {
  background-image: url("http://www.powellschicago.com/wp-content/uploads/2015/07/Chess2.jpg");
}


.chat-container {
  opacity: 100;
  float: left;
  height: 570;
  width: 625px;
  padding-right: 10px;
}


.scrolly {
  float: right;
  height:530px;
  width:600px;
  overflow-y: scroll;
}

#message {
  float:right;
  background:#eee;
  width: 545px;
  margin: 6.5px 0px 5px 0px;
}
      
.sendButton {
  background-color: #080808;
  margin: 5px;
  float: right;
  color: white;
}

.messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.messages li { padding: 5px 10px; }
.messages li:nth-child(odd) { background: #eee; }
.messages li:nth-child(even) { background: #fff; }

.btn-default {
  background-color: #2B2B2B;
  color: white;
  margin: 3px 0px 0px 10px;
}

#container {
  height: 650px;
  width: 100%;
}

.white-1e1d7 {
  background-color: rgba(214, 214, 214, 0.96);
  color: #CFBB9C;
}

.black-3c85d {
  background-color: #3a4f61;
  color: #CFBB9C;
}
