.chessboard {
  float: left;
  width: 600px;
  padding-left: 10px;
  padding-right: 30px;
}

.your-game {
  size: 20px;
}

body {
  background-image: url("http://www.powellschicago.com/wp-content/uploads/2015/07/Chess2.jpg");
}

.chat-container {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: right;
  height:570px;
  width:625px;
}

.scrolly {
  float: right;
  opacity: 5;
  height:530px;
  width:600px;
  overflow-y: scroll;
}

.messages{
  margin: 10px;
  background:#fff;
  border-radius: 10px;
}

#message {
  float:right;
  background:#eee;
  width: 560px;
}

.sendButton {
  background-color: #fca;
  float:right;
}
